form {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 28.75rem;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    padding: 1.875rem 1.25rem 3.125rem 1.25rem;
}

.btnForm {
    border-radius: .5rem;
    height: 3rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--color-primary);
}

.btnForm:hover {
    background-color: var(--color-primary-2);
}

input {
    border-radius: .5rem;
    height: 3rem;
    border: none;
    outline: none;
    background-color: var(--Grey-1);
    font-size: 1rem;
    color: 212529;
    padding: 0.6em 1.2em;
    font-weight: 400;
}

select {
    border-radius: .5rem;
    height: 3rem;
    border: none;
    background-color: var(--Grey-1);
    font-size: .75rem;
    color: 212529;
    font-weight: 500;
    padding: 0.6em 1.2em;
}

option {
    display: flex;
    background-color: var(--Grey-1);
    color: var(--Grey-3);
    padding: 1rem;
    font-size: .75rem;
    font-weight: 500;
    padding-top: .75rem;
}

.ex {
    font-style: normal;
    font-weight: 500;
    font-size: .75rem;
    line-height: 1.25rem;
    color: #868E96;
}

label {
    font-size: .75rem;
    font-weight: 500;
}

@media(min-width: 375px){
    form{
        width: 100%;
    }
    .cardTransiction1{
        display: flex;
        flex-direction: column;
    }
}

