.DivTotalMoney {
    display: flex;
    flex-direction: column;
    height: 6rem;
    border: 1px solid #00000029;
    border-radius: .5rem;
    padding: 0px 1.25rem;
    justify-content: space-around;
}

.DivTotalMoney > p {
    font-size: .75rem;
    color: #343A40;
}

.containerValor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.TextValor{
    align-self: flex-start;
}

.ValorTotal{
    color: var(--color-primary);
}
@media(min-width:375px) {
    .containerFormTotalMoney {
        align-items: center;
        width: 100%;
    }
    .DivTotalMoney {
        width: 100%;
        margin-left: 0rem;
        align-self: flex-start;
    }
}

@media(min-width:425px) {
    .containerFormTotalMoney {
        align-items: center;
    }
    .DivTotalMoney {
        width: 100%;
        margin-left: 0rem;
        align-self: flex-start;
    }
}

@media(min-width:768px) {
    .DivTotalMoney {
        margin-left: 0rem;
        align-self: flex-start;
    }
}
